@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --red: #f64343;
  --green: #5acf50;
  --black: #222;
  --gray: #ddd;
  --darkGray: #aaa;
  --darkerGray: #777;
  --lightGray: #eee;
  --white: #fff;
  --body-bg: #f9f9f9;
}
@media (prefers-color-scheme: dark) {
  :root {
    --red: #f15d5d;
    --green: #82e479;
    --white: #222;
    --black: #fff;
    --lightGray: #444;
    --gray: #555;
    --darkGray: #999;
    --darkerGray: #ccc;
    --body-bg: #000;
  }
}

*:not(button:not(.link))::selection {
  background: rgba(121, 66, 238, 0.35);
  color: #7942ee;
}

button:not(.link)::selection {
  background: #fff;
  color: #7942ee;
}

*,
*::before,
*::after {
  /* Box model */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Fonts & text styles */
  font-family: "Montserrat", system-ui, Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #222;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 100vw;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  object-fit: cover;
  image-rendering: optimizeSpeed;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.page-wrap {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: min(35%, 350px) 1fr min-content;
  gap: 1rem;
  justify-items: center;
  overflow: auto;
  align-items: center;
}

.main-content {
  height: 100%;
  width: 100%;
}
.main-content.has-content {
  height: 100vh;
}

button {
  background: #7942ee;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 100vw;
  transition: background 150ms ease, box-shadow 150ms ease;
}
button:not(:disabled):hover, button:not(:disabled):focus {
  background: #8a59f0;
  box-shadow: 0px 4px 15px rgba(34, 34, 34, 0.1);
}
button:not(:disabled):active {
  background: #9a71f2;
  box-shadow: 0px 2px 10px rgba(34, 34, 34, 0.05);
}

strong {
  font-weight: 600;
  color: #7942ee;
}

@media (max-width: 1024px) {
  .main-content .sidebar {
    display: none;
  }
}
@media (max-width: 800px) {
  .page-wrap {
    grid-template-columns: 1fr;
  }
}
form {
  grid-column: 2;
  grid-column-end: 4;
  background: #fff;
  border: 1px solid #eee;
  padding: 4rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: min(600px, 100% - 2rem);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 20px rgba(34, 34, 34, 0.175);
  max-height: calc(100% - 4rem);
  overflow: auto;
}
form > *:not(div),
form > *:not(span) {
  margin-block: 0.5rem;
}
form > div {
  margin-bottom: 0.5rem;
}
form > h2 {
  margin-bottom: 1rem;
  width: 100%;
}
form > h2 span {
  font-size: 0.95rem;
  display: block;
  color: #f64343;
  font-weight: 500;
}
form div.title p {
  margin-top: 0.5rem;
  color: rgba(34, 34, 34, 0.75);
}
form label {
  position: relative;
  width: 100%;
}
form label.inline {
  width: calc(50% - 0.5rem);
}
form label span:not(.static) {
  position: absolute;
  top: 0%;
  padding-inline: 0.5rem;
  left: 1.5rem;
  transform: translateY(-50%);
  color: #aaa;
  background: #fff;
  transition: top 0.3s cubic-bezier(0.19, 1, 0.22, 1), left 0.5s cubic-bezier(0.19, 1, 0.22, 1), color 150ms ease, font-size 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  font-weight: 500;
  font-size: 0.775rem;
}
form label span.static {
  display: block;
  width: 100%;
  color: #aaa;
  transition: top 0.3s cubic-bezier(0.19, 1, 0.22, 1), left 0.5s cubic-bezier(0.19, 1, 0.22, 1), color 150ms ease;
  font-weight: 500;
}
form label input[type=text],
form label input[type=password],
form label input[type=email] {
  border: 2px solid #eee;
  background-color: #fff;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 150ms ease;
  font-weight: 500;
  color: #222;
}
form label input[type=text]:-webkit-autofill,
form label input[type=password]:-webkit-autofill,
form label input[type=email]:-webkit-autofill {
  -webkit-box-shadow: 0px 0px 0px 30px #fff inset !important;
  border-color: rgba(121, 66, 238, 0.15);
}
form label input[type=text]:focus,
form label input[type=password]:focus,
form label input[type=email]:focus {
  border-color: #7942ee;
}
form label input[type=text]:focus + span,
form label input[type=password]:focus + span,
form label input[type=email]:focus + span {
  top: 0;
  transition: top 0.5s cubic-bezier(0.19, 1, 0.22, 1), left 0.3s cubic-bezier(0.19, 1, 0.22, 1), color 150ms ease, font-size 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  color: #7942ee;
  cursor: default;
  font-size: 0.775rem;
}
form label input[type=text][value=""]:not(:focus) + span,
form label input[type=password][value=""]:not(:focus) + span,
form label input[type=email][value=""]:not(:focus) + span {
  top: 50%;
  transition: top 0.3s cubic-bezier(0.19, 1, 0.22, 1), left 0.5s cubic-bezier(0.19, 1, 0.22, 1), color 150ms ease, font-size 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  font-size: 1rem;
}
form label input[type=text].incorrect,
form label input[type=password].incorrect,
form label input[type=email].incorrect {
  border-color: #f64343;
}
form label input[type=text].incorrect + span, form label input[type=text].incorrect:focus + span,
form label input[type=password].incorrect + span,
form label input[type=password].incorrect:focus + span,
form label input[type=email].incorrect + span,
form label input[type=email].incorrect:focus + span {
  color: #f64343;
}
form label input[type=text].correct,
form label input[type=password].correct,
form label input[type=email].correct {
  border-color: #5acf50;
}
form label input[type=text].correct + span, form label input[type=text].correct:focus + span,
form label input[type=password].correct + span,
form label input[type=password].correct:focus + span,
form label input[type=email].correct + span,
form label input[type=email].correct:focus + span {
  color: #5acf50;
}
form label.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #eee;
  position: relative;
  border-radius: 100vw;
  overflow: hidden;
  vertical-align: middle;
  transition: border-color 150ms ease;
  margin-right: 0.5rem;
  cursor: pointer;
}
form label.checkbox + label {
  cursor: pointer;
}
form label.checkbox:hover {
  border-color: rgba(121, 66, 238, 0.5);
}
form label.checkbox:has(+ label:hover) {
  border-color: rgba(121, 66, 238, 0.5);
}
form label.checkbox:has(input[type=checkbox]:checked) {
  border-color: #7942ee;
}
form label.checkbox .checkmark {
  position: absolute;
  inset: 0;
  background: #fff;
  transform: scale(0);
  border-radius: 100vw;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), background 150ms ease;
}
form label.checkbox input[type=checkbox] {
  display: none;
}
form label.checkbox input[type=checkbox]:checked + .checkmark {
  background: #7942ee;
  transform: scale(0.65);
}
form > div {
  font-weight: 600;
  color: #f64343;
}
form > span {
  display: block;
  width: 100%;
}
form > span > button {
  border: 2px solid #7942ee;
  background: #7942ee;
  padding: 1rem 2rem;
  font-weight: 600;
  color: #fff;
  border-radius: 100vw;
  cursor: pointer;
  transition: background 150ms ease, border-color 150ms ease, color 150ms ease, opacity 150ms ease, box-shadow 150ms ease, filter 150ms ease, opacity 150ms ease;
  width: 100%;
}
form > span > button:not(:disabled):hover, form > span > button:not(:disabled):focus {
  background: #8a59f0;
  border-color: #8a59f0;
  box-shadow: 0px 5px 20px rgba(34, 34, 34, 0.175);
}
form > span > button:not(:disabled):active {
  background: #9a71f2;
  border-color: #9a71f2;
  box-shadow: 0px 4px 15px rgba(34, 34, 34, 0.1);
}
form > span > button:disabled {
  background: #fff;
  border-color: #eee;
  color: #aaa;
  cursor: default;
  opacity: 0.5;
}
form > span > button.loading {
  filter: grayscale(75%);
  opacity: 0.75;
}
form span > p {
  color: #777;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.875rem;
}
form span > p .link {
  background: #fff;
  color: #7942ee;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0px;
}
form span > p .link:not(:disabled):hover, form span > p .link:not(:disabled):focus {
  background: transparent;
  text-decoration: underline;
  color: #8a59f0;
}
form span > p .link:not(:disabled):active {
  background: transparent;
  color: #9a71f2;
}
form input[type=file] {
  display: none;
}
form label#fileSelect {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}
form label#fileSelect:hover div {
  background: rgba(121, 66, 238, 0.05);
  border-color: rgba(121, 66, 238, 0.25);
}
form label#fileSelect:hover div p,
form label#fileSelect:hover div button {
  color: #7942ee;
}
form label#fileSelect div {
  display: grid;
  grid-template-columns: max-content 1fr min-content;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-left: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  outline: 2px solid #eee;
  transition: background 150ms ease, outline-color 150ms ease;
  position: relative;
  height: 4rem;
}
form label#fileSelect div button {
  height: 100%;
  aspect-ratio: 1/1;
  border: none;
  background: transparent;
  font-size: 0.775rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background 150ms ease, color 150ms ease;
}
form label#fileSelect div button.hide {
  opacity: 0;
  pointer-events: none;
}
form label#fileSelect div button:not(:disabled):hover, form label#fileSelect div button:not(:disabled):focus {
  background: rgba(121, 66, 238, 0.1);
  box-shadow: none;
}
form label#fileSelect div button:not(:disabled):active {
  background: rgba(121, 66, 238, 0.15);
  box-shadow: none;
}
form label#fileSelect div p {
  font-weight: 500;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
form label#fileSelect div:hover {
  background: rgba(121, 66, 238, 0.05);
  outline-color: rgba(121, 66, 238, 0.25);
}
form label#fileSelect div:hover p,
form label#fileSelect div:hover button {
  color: #7942ee;
}
form label#fileSelect div:active {
  background: rgba(121, 66, 238, 0.1);
  outline-color: rgba(121, 66, 238, 0.75);
}
form label#fileSelect img {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
form label#fileSelect.selected div {
  outline-color: rgba(121, 66, 238, 0.5);
  background: rgba(121, 66, 238, 0.1);
}
form label#fileSelect.selected div p,
form label#fileSelect.selected div button {
  color: #7942ee;
}
form label#fileSelect.selected img {
  outline-color: #7942ee;
}

@media (max-width: 800px) {
  body,
  html {
    background: #fff;
  }
  form {
    width: 100%;
    max-height: 100%;
    padding-inline: 2rem;
    box-shadow: none;
    border: none;
  }
}
nav {
  background: #fff;
  height: 100%;
  position: relative;
  width: 100%;
  border-right: 2px solid #eee;
  padding: 2rem;
}
@media (max-width: 800px) {
  nav {
    display: none;
  }
}
nav > img {
  width: min(200px, 100%);
  margin-bottom: 1rem;
}
nav ul {
  padding: unset;
  list-style: none;
}
nav ul li {
  margin-block: 1rem;
}
nav ul li button {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  text-align: left;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 100vw;
  color: #222;
  font-weight: 500;
  transition: background 150ms ease, color 150ms ease;
}
nav ul li button svg * {
  fill: #222;
  transition: fill 150ms ease;
}
nav ul li button:not(:disabled):hover {
  background: rgba(121, 66, 238, 0.05);
  box-shadow: none;
  color: #7942ee;
}
nav ul li button:not(:disabled):hover svg * {
  fill: #7942ee;
}
nav ul li button:not(:disabled):focus {
  background: transparent;
  box-shadow: none;
}
nav ul li button:not(:disabled):active {
  background: rgba(121, 66, 238, 0.1);
  box-shadow: none;
  color: #7942ee;
}
nav ul li button:not(:disabled):active svg * {
  fill: #7942ee;
}
nav ul li button.active {
  background: rgba(121, 66, 238, 0.1);
  font-weight: 600;
  color: #7942ee;
}
nav ul li button.active svg * {
  fill: #7942ee;
}
nav .user {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #eee;
  padding: 1rem;
  display: grid;
  grid-template-columns: max-content 1fr min-content;
  align-items: center;
  gap: 1rem;
  transition: background 150ms ease;
}
nav .user:has(button.full-width) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  cursor: default;
}
nav .user:not(:has(button:hover), :has(button.full-width)):hover {
  background: rgba(34, 34, 34, 0.05);
  cursor: pointer;
}
nav .user img {
  height: auto;
  width: 50px;
}
nav .user span p {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
nav .user span p:first-child {
  font-size: 1.125rem;
  font-weight: 600;
}
nav .user span p:last-child {
  font-size: 0.95rem;
  font-weight: 400;
}
nav .user button {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 100vw;
  transition: background 150ms ease;
}
nav .user button.full-width {
  width: 100%;
  background: #7942ee;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}
nav .user button.full-width:hover, nav .user button.full-width:focus {
  background: #8a59f0;
  box-shadow: 0px 5px 20px rgba(34, 34, 34, 0.175);
}
nav .user button.full-width:active {
  background: #9a71f2;
  box-shadow: 0px 4px 15px rgba(34, 34, 34, 0.1);
}
nav .user button svg {
  transform: scale(1.25);
}
nav .user button svg * {
  transition: fill 150ms ease;
}
nav .user button:hover, nav .user button:focus {
  background: rgba(121, 66, 238, 0.05);
  box-shadow: none;
}
nav .user button:hover svg *, nav .user button:focus svg * {
  fill: #7942ee;
}
nav .user button:active {
  background: rgba(121, 66, 238, 0.1);
  box-shadow: none;
}
nav .user > p {
  width: 100%;
  text-align: center;
  font-size: 0.95rem;
}
nav .user > p button.link {
  display: inline;
  width: auto;
  color: #7942ee;
  font-size: 0.95rem;
  font-weight: 500;
  background: transparent;
  height: fit-content;
  padding: 0px;
}
nav .user > p button.link:hover, nav .user > p button.link:focus {
  text-decoration: underline;
  color: #8a59f0;
}
nav .user > p button.link:active {
  color: #9a71f2;
}

/*# sourceMappingURL=styles.css.map */
